<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BNS1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BNS1</ion-title>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo assumenda accusantium earum ea autem libero aliquid mollitia minus, ratione maiores totam necessitatibus adipisci aut velit, dolores vero magnam debitis? Possimus.</p>
    </ion-toolbar>
  </ion-header>
</ion-content>
