<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leccion 27/11/2024
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container" class="ion-align-self-auto" class="ion-align-self-auto" style="display: flex; flex-direction: column; align-items: center;">
    <ion-avatar style="width: 250px; height: 250px;">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    
    <ion-button class="ion-padding"  expand="block" size="default" href="bns1">Boton no sospechoso 1</ion-button>
  </div>
</ion-content>
